* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-between;
}

body .left {
  flex: 1;
}

body .middle {
  flex: 2;
  border: 1px solid #fff;
}

body .right {
  flex: 1;
  border: 1px solid #fff;
}

body .wrapper {
  width: 90%;
  margin: 0 auto;
}

body {
  background: #1c1e21;
  color: #fff;
}

.left .menu {
  display: flex;
  justify-content: space-between;
}

.left .menu .left-menu {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.left .menu .left-menu p {
  margin-right: 10px;
}

.left .menu .right-menu {
  display: flex;
  align-items: center;
}

.left .menu .right-menu p {
  background: #33373d;
  border-radius: 50%;
  padding: 7px;
  margin: 5px;
  cursor: pointer;
}

.left .menu .right-menu p:hover {
  background: #4b5058;
}

.left .search-bar {
  position: relative;
  padding: 20px 0px;
}

.left .search-bar .fa-search {
  position: absolute;
  background: #33373d;
  color: #fff;
  left: 2%;
  top: 38%;
}

.left .search-bar .search-people {
  width: 100%;
  border-radius: 20px;
  border: none;
  height: 30px;
  padding-left: 25px;
  font-size: 14px;
  background: #33373d;
  color: #fff;
}

.left .chat-box {
  height: 500px;
  overflow: auto;
}

.left .chat-box .chat {
  display: flex;
  cursor: pointer;
  padding: 15px;
}

.left .chat-box .chat-text {
  margin-left: 10px;
}

.left .chat-box .chat:hover {
  background: #33373d;
  color: #fff;
}

.middle {
  height: 350px;
}

.middle-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #fff;
}

.middle-header-left {
  display: flex;
  align-items: center;
}

.middle-header-left h2 {
  padding-left: 10px;
}

.middle-header-right i {
  padding: 7px;
  cursor: pointer;
}

.middle-bottom {
  margin: 240px 0;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.middle-bottom .fa-smile {
  position: absolute;
  right: 5%;
}

.middle-bottom i {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.middle-bottom input {
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 10px;
  background: #33373d;
  color: #fff;
}

.right-header {
  display: block;
  text-align: center;
  padding: 10px;
}

.right-header h3 {
  margin-top: 10px;
}

.right-tab {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
}

.right-tab:hover {
  background: #33373d;
  color: #fff;
}

.right-tab-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  cursor: pointer;
}

.right-tab-list-title {
  display: flex;
  align-items: center;
}

.right-tab-list-title h4 {
  padding-left: 10px;
}

.right-tab-list:hover {
  background: #33373d;
  color: #fff;
}
