@import "config";
@import "utilities";

body {
    background: $primary-color;
    color: text-color($primary-color);
}

.left {
    .menu {
        display: flex;
        justify-content: space-between;

        .left-menu {
            display: flex;
            align-items: center;
            p {
                margin-right: 10px;
            }
        }

        .right-menu {
            display: flex;
            align-items: center;
            
            p {
                background: lighten($primary-color, 10%);
                border-radius: 50%;
                padding: 7px;
                margin: 5px;
                cursor: pointer;
            }
            p:hover {
                background: lighten($primary-color, 20%);
            }
        }
    }
}